h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  max-width: 800px;
  width: 95vw;
  margin: 0 auto;
}

nav>a {
  padding: 1em;
  background: #369;
  color: white;
  text-decoration: none;
  margin: 1em;
}

nav>a:hover {
  cursor: pointer;
  background: dodgerblue;
}
