.top-heroes-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 800px;
  width: 95vw;
  margin: 0 auto;
  padding: 1em;
}

.top-heroes-container>h3 {
  width: 100%;
  text-align: center;
}

.top-heroes-container>.top-hero {
  margin: 1em;
  height: 100px;
  width: calc(100%/4);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #369;
  color: white;
  text-decoration: none;
  padding: 1em;
}

.top-heroes-container>.top-hero:hover {
  background: dodgerblue;
}
